
__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

# OS/editor noise
.DS_Store
Thumbs.db

data1/**
!data1/
!data1/model_a_standard.pth
!data1/model_b_biomimetic.pth
!data1/model_c_antibiomimetic.pth

data/**
!data/
!data/model_a_standard.pth
!data/model_b_biomimetic.pth
!data/model_c_antibiomimetic.pth

torch-conv-kan-main/
.vscode/